## Reporting: wragle_report

### Wrangle summary

All needed packages were imported, then, Data was gotten from 3 different Sources,which include:

- From the 'twitter-achive-enhanced.csv' which is called the df_1 table.
- Using Requests library to get data from a url which contains images of dogs and their IDs which is called the df-2 table. 
- From twitter API which is called the retweets table.


Once the data was gathered, I conducted an assessment to identify any issues or problems with the data.I found that the data 
had a number of issues. which include:

1. replies and retweets

In the df_1 table, there are replies and retweets entries that are not needded in the project.
The rows containing the replies and retweets were droped so as to delete all the entries contaiing them.

2. Irrelevant columns

In the df_ 1 table, the following columns were droped:
    
*a.* 'in_reply_to_status_id'   
*b.* 'in_reply_to_user_id'    
*c.* 'retweeted_status_id'    
*d.* 'retweeted_status_user_id'    
*e.* 'retweeted_status_timestamp'    
*f.* 'expanded_urls'

3. Timestamp is string not datetime

The timestamp in the df_1 table was a string and not in datetime formart, it was then changed to datetime 

4. One variable in four columns

doggo, floofer, pupper, puppo columns in the tweets table all describes one variable.


5. Separate tables.

The three tables are suppose to be together.

To address these issues a copy of all the data were made, The copy of each table maintained the name of the original table but with '\_clean' added to them and then I implemented a number of cleaning steps, including:


6-correcting the incorrect Values.

Some values in the rating_numerator from the df_1_clean table were incorrect,especially the decimal rating_numerator values. I used a regex expression to extract the correct rating_numerator values.

7-In the retweets_clean table i dropped the following columns:

a. 'contributors'    
b. 'coordinates'    
c. 'display_text_range'    
d. 'favorited'    
e. 'geo'    
f. 'place'    
g. 'id_str'    
h. 'in_reply_to_screen_name'    
i. 'in_reply_to_status_id'    
j. 'in_reply_to_status_id_str'    
k. 'in_reply_to_user_id'    
l. 'in_reply_to_user_id_str'    
m. 'is_quote_status'    
n. 'retweeted'    
o. 'retweeted_status'    
p. 'lang'    
q. 'possibly_sensitive'    
r. 'possibly_sensitive_appealable'    
s. 'quoted_status'    
t. 'quoted_status_id'    
u. 'quoted_status_id_str'    
v. 'truncated'    
w. 'source'    


8- Renamimg column name for consistency.

The id column in retweets_clean table was renamed 'tweet_id' for consistency reason since it contains the same values as the 
'tweet_id' columns in both df_1_clean and df_2_clean.

9- melting four columns into one.

The values in the 'doggo', 'floofer', 'pupper', 'puppo' columns were concatenated recreating a new column called 'dog_stage'. 
The pandas replace function was used on the 'dog_stage' column the following way:

'NoneNoneNoneNone' : None    
'NoneNonepupperNone' : 'pupper'    
'doggoNoneNoneNone' : 'doggo'    
'NoneNoneNonepuppo' : 'puppo'    
'NoneflooferNoneNone' : 'floofer'    
'doggoNonepupperNone' : 'Multi_type1'    
'doggoNoneNonepuppo' : 'Multi_type2'    
'doggoflooferNoneNone' : 'Multi_type3'    

10- merging all tables into one.

The three tables were finally merged together to create one dataframe using the pandas merge function.

These steps helped to ensure that the data was ready for analysis.